<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="informed_mention_form-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="informed_mention_form" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="informed_mention_form.enabled"
        (change)="updateValue('informed_mention_form', true)"
      >
      <label class="enabled-label" for="informed_mention_form">{{ 'processing_informed_concerned_people.form.mention_form'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="informed_mention_form.enabled">
      <textarea style="width: 100%"
        (change)="updateValue('informed_mention_form')"
        [(ngModel)]="informed_mention_form.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="informed_mention_contract-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="informed_mention_contract" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="informed_mention_contract.enabled"
        (change)="updateValue('informed_mention_contract', true)"
      >
      <label class="enabled-label" for="informed_mention_contract">{{ 'processing_informed_concerned_people.form.mention_contract'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="informed_mention_contract.enabled">
      <textarea style="width: 100%"
        (change)="updateValue('informed_mention_contract')"
        [(ngModel)]="informed_mention_contract.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="informed_terms-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="informed_terms" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="informed_terms.enabled"
        (change)="updateValue('informed_terms', true)"
      >
      <label class="enabled-label" for="informed_terms">{{ 'processing_informed_concerned_people.form.terms'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="informed_terms.enabled">
      <textarea style="width: 100%"
        (change)="updateValue('informed_terms')"
        [(ngModel)]="informed_terms.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="informed_display-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="informed_display" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="informed_display.enabled"
        (change)="updateValue('informed_display', true)"
      >
      <label class="enabled-label" for="informed_display">{{ 'processing_informed_concerned_people.form.display'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="informed_display.enabled">
      <textarea style="width: 100%"
        (change)="updateValue('informed_display')"
        [(ngModel)]="informed_display.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="informed_phone-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="informed_phone" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="informed_phone.enabled"
        (change)="updateValue('informed_phone', true)"
      >
      <label class="enabled-label" for="informed_phone">{{ 'processing_informed_concerned_people.form.phone'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="informed_phone.enabled">
      <textarea style="width: 100%"
        (change)="updateValue('informed_phone')"
        [(ngModel)]="informed_phone.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="informed_other-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="informed_other" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="informed_other.enabled"
        (change)="updateValue('informed_other', true)"
      >
      <label class="enabled-label" for="informed_other">{{ 'processing_informed_concerned_people.form.other'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="informed_other.enabled">
      <textarea style="width: 100%"
        (change)="updateValue('informed_other')"
        [(ngModel)]="informed_other.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
