<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_optin_website-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_optin_website" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_optin_website.enabled"
        (change)="updateValue('consent_optin_website', true)"
      >
      <label class="enabled-label" for="consent_optin_website">{{ 'processing_consent_concerned_people.form.optin_website'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_optin_website.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_optin_website')"
        [(ngModel)]="consent_optin_website.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_optin_user_space-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_optin_user_space" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_optin_user_space.enabled"
        (change)="updateValue('consent_optin_user_space', true)"
      >
      <label class="enabled-label" for="consent_optin_user_space">{{ 'processing_consent_concerned_people.form.optin_user_space'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_optin_user_space.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_optin_user_space')"
        [(ngModel)]="consent_optin_user_space.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_phone-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_phone" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_phone.enabled"
        (change)="updateValue('consent_phone', true)"
      >
      <label class="enabled-label" for="consent_phone">{{ 'processing_consent_concerned_people.form.phone'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_phone.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_phone')"
        [(ngModel)]="consent_phone.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_paper-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_paper" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_paper.enabled"
        (change)="updateValue('consent_paper', true)"
      >
      <label class="enabled-label" for="consent_paper">{{ 'processing_consent_concerned_people.form.paper'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_paper.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_paper')"
        [(ngModel)]="consent_paper.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_signing_paper_form-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_signing_paper_form" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_signing_paper_form.enabled"
        (change)="updateValue('consent_signing_paper_form', true)"
      >
      <label class="enabled-label" for="consent_signing_paper_form">{{ 'processing_consent_concerned_people.form.signing_paper_form'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_signing_paper_form.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_signing_paper_form')"
        [(ngModel)]="consent_signing_paper_form.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_signing_contract-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_signing_contract" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_signing_contract.enabled"
        (change)="updateValue('consent_signing_contract', true)"
      >
      <label class="enabled-label" for="consent_signing_contract">{{ 'processing_consent_concerned_people.form.signing_contract'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_signing_contract.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_signing_contract')"
        [(ngModel)]="consent_signing_contract.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_signing_standard_form-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_signing_standard_form" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_signing_standard_form.enabled"
        (change)="updateValue('consent_signing_standard_form', true)"
      >
      <label class="enabled-label" for="consent_signing_standard_form">{{ 'processing_consent_concerned_people.form.signing_standard_form'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_signing_standard_form.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_signing_standard_form')"
        [(ngModel)]="consent_signing_standard_form.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="consent_other-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="consent_other" [disabled]="!hasEditPermission"
        [(ngModel)]="consent_other.enabled"
        (change)="updateValue('consent_other', true)"
      >
      <label class="enabled-label" for="consent_other">{{ 'processing_consent_concerned_people.form.other'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="consent_other.enabled">
      <textarea style="width: 100%"
        placeholder="{{'processing.comments.comment' | translate}}" 
        (change)="updateValue('consent_other')"
        [(ngModel)]="consent_other.processingDataType.data"
        [disabled]="!hasEditPermission"
      ></textarea>
    </div>
  </div>
</div>
