<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="subcontractors_obligations_yes-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="subcontractors_obligations_yes" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="subcontractors_obligations_yes.enabled"
        (change)="updateRadioValue('subcontractors_obligations_yes')"
      >
      <label class="enabled-label" for="subcontractors_obligations_yes">{{ 'processing_subcontractors_obligations.form.subcontractors_obligations_yes'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="subcontractors_obligations_yes.enabled">
      <textarea
        (change)="updateValue('subcontractors_obligations_yes')"
        [(ngModel)]="subcontractors_obligations_yes.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="subcontractors_obligations_no-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="subcontractors_obligations_no" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="subcontractors_obligations_no.enabled"
        (change)="updateRadioValue('subcontractors_obligations_no')"
      >
      <label class="enabled-label" for="subcontractors_obligations_no">{{ 'processing_subcontractors_obligations.form.subcontractors_obligations_no'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="subcontractors_obligations_no.enabled">
      <textarea
        (change)="updateValue('subcontractors_obligations_no')"
        [(ngModel)]="subcontractors_obligations_no.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="subcontractors_obligations_partially-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="subcontractors_obligations_partially" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="subcontractors_obligations_partially.enabled"
        (change)="updateRadioValue('subcontractors_obligations_partially')"
      >
      <label class="enabled-label" for="subcontractors_obligations_partially">{{ 'processing_subcontractors_obligations.form.subcontractors_obligations_partially'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="subcontractors_obligations_partially.enabled">
      <textarea
        (change)="updateValue('subcontractors_obligations_partially')"
        [(ngModel)]="subcontractors_obligations_partially.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
