<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="access_contact_dpo-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="access_contact_dpo" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="access_contact_dpo.enabled"
        (change)="updateValue('access_contact_dpo', true)"
      >
      <label class="enabled-label" for="access_contact_dpo">{{ 'processing_access_concerned_people.form.access_contact_dpo'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="access_contact_dpo.enabled">
      <textarea
        (change)="updateValue('access_contact_dpo')"
        [(ngModel)]="access_contact_dpo.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="access_contact_referent-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="access_contact_referent" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="access_contact_referent.enabled"
        (change)="updateValue('access_contact_referent', true)"
      >
      <label class="enabled-label" for="access_contact_referent">{{ 'processing_access_concerned_people.form.access_contact_referent'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="access_contact_referent.enabled">
      <textarea
        (change)="updateValue('access_contact_referent')"
        [(ngModel)]="access_contact_referent.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="access_customer_area_form-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="access_customer_area_form" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="access_customer_area_form.enabled"
        (change)="updateValue('access_customer_area_form', true)"
      >
      <label class="enabled-label" for="access_customer_area_form">{{ 'processing_access_concerned_people.form.access_customer_area_form'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="access_customer_area_form.enabled">
      <textarea
        (change)="updateValue('access_customer_area_form')"
        [(ngModel)]="access_customer_area_form.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="access_paper_form-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="access_paper_form" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="access_paper_form.enabled"
        (change)="updateValue('access_paper_form', true)"
      >
      <label class="enabled-label" for="access_paper_form">{{ 'processing_access_concerned_people.form.access_paper_form'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="access_paper_form.enabled">
      <textarea
        (change)="updateValue('access_paper_form')"
        [(ngModel)]="access_paper_form.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
<div class="row processing-data-types">
  <div class="processing-data-type small-12" id="access_other-data">
    <div class="type-enabled">
      <input type="checkbox" class="field" id="access_other" [disabled]="!hasEditPermission || processingStatus >= 1"
        [(ngModel)]="access_other.enabled"
        (change)="updateValue('access_other', true)"
      >
      <label class="enabled-label" for="access_other">{{ 'processing_access_concerned_people.form.access_other'| translate }}</label>
    </div>
    <div class="type-comment" *ngIf="access_other.enabled">
      <textarea
        (change)="updateValue('access_other')"
        [(ngModel)]="access_other.processingDataType.data"
        [disabled]="!hasEditPermission || processingStatus >= 1"
      ></textarea>
    </div>
  </div>
</div>
